* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #255ee9;
    padding-top: 15px;
    padding-bottom: 15px;
}

header > div:nth-child(1) {
    height: 50px;
    margin: auto;
    width: 64%;
}

.flexbox {
    display: flex;
}

.flexbox > .flexitem1, .flexitem10, .flexitem11 {
    font-size: 25px;
}

.flexbox > .flexitem8 {
    border: 2px dashed black;
}

.flexbox > .flexitem1 {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 20%;
    padding-left: 10px;
}

.flexbox > .flexitem2 {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
}

.flexitem2 > ul {
    display: flex;
    list-style: none;
}

.flexitem2 li {
    padding: 20px;
}

.flexitem2 li a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.flexbox > .flexitem3 {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 20%;
    padding-right: 10px;
}

button {
    padding: 10px;
    border: 0px;
    border-radius: 30px;
    font-weight: 400;
}

main > div:nth-child(1) {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.flexitem4 {
    width: 40%;
    height: 60%;
    text-align: center;
}

.flexitem4 > h1 {
    font-weight: 900;
    color: white;
    font-size: 60px;
    margin-bottom: 50px;
}

.flexitem4 > p {
    font-weight: 500;
    color: white;
    font-size: 20px;
}

.flexitem4 > p > span {
    padding: 7px;
    display: inline-block;
}

.button4 {
    margin: 25px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    padding: 15px 30px;
    border-radius: 30px;
    line-height: 1em;
}

#blackb {
    background-color: black;
    color: white;
}

main > div:nth-child(2) {
    background-color: #ffffff;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.flexitem5 {
    width: 64%;
    display: flex;
    height: 80%;
    justify-content: center;
}

h2 {
    font-size: 50px;
}

.flexitem5 > div:nth-child(1) {
    width: 60%;
}

.flexitem5 > div:nth-child(2) {
    width: 40%;
    padding: 30px 60px;   
}

.flexitem5 > div > p {
    font-size: 21px;
    margin-top: 20px;
}

main > div:nth-child(3) {
    background-color: #f6f6f6;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.flexitem6 {
    width: 64%;
    display: flex;
    height: 80%;
    justify-content: center;
    flex-direction: row-reverse;
}

.flexitem6 > div:nth-child(1) {
    width: 60%;
}

.flexitem6 > div:nth-child(2) {
    width: 40%;
    padding: 30px 60px;   
}

.flexitem6 > div > p {
    font-size: 20px;
    margin-top: 20px;
}

main > div:nth-child(4) {
    background-color: #ffffff;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.flexitem7 {
    width: 64%;
    display: flex;
    height: 80%;
    justify-content: center;
}

.flexitem7 > div:nth-child(1) {
    width: 60%;
}

.flexitem7 > div:nth-child(2) {
    width: 40%;
    padding: 30px 60px;  
}

.flexitem7 > div > p {
    font-size: 21px;
    margin-top: 20px;
}

main > div:nth-child(5) {
    background-color: #f6f6f6;
    height: 1500px;
    justify-content: center;
    align-items: center;
}

.flexitem8 {
    background-image: url(../img/item4-big.svg);
    width: 65%;
    height: 55%;
    background-size: contain;
}

main > div:nth-child(6) {
    background-color: #23272a;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.flexitem9 {
    width: 65%;
    display: flex;
    height: 95%;
    justify-content: center;
}

.flexitem9 > div:nth-child(1) {
    width: calc(100% / 3);
    background-color: #f08080;
    border: 2px dashed black;
}

.flexitem9 > div:nth-child(2) {
    width: calc(100% / 6);
    background-color: #ffc0cb;
    border: 2px dashed white;    
}

.flexitem9 > div:nth-child(3) {
    width: calc(100% / 6);
    background-color: #ffc0cb;
    border: 2px dashed white;    
}

.flexitem9 > div:nth-child(4) {
    width: calc(100% / 6);
    background-color: #ffc0cb;
    border: 2px dashed white;    
}

.flexitem9 > div:nth-child(5) {
    width: calc(100% / 6);
    background-color: #ffc0cb;
    border: 2px dashed white;    
}

hr {
    border: 1px solid white;
}

footer {
    height: 100px;
    background-color: #23272a;
    align-items: flex-end;
    justify-content: center;
    align-items: f;
}

footer > div:nth-child(1) {
    background-color: #7fffd4;
    height: 75px;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

.flexitem10, .flexitem11 {
    background-color: #ffb6c1;
    border: 2px dashed black;
    padding: 5px;
}














































































