* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.white {
    color: white;
}

.black {
    color: black;
}

.bwhite {
    background-color: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #255ee9;
    padding-top: 15px;
    padding-bottom: 15px;
}

header > div:nth-child(1) {
    margin: auto;
    width: 64%;
}

.flexbox {
    display: flex;
}

.flexitem1 {
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    padding-left: 10px;
    line-height: 19px;
}

.flexitem2 {
    justify-content: center;
    align-items: center;
    width: 60%;
}

.flexitem2 > ul {
    display: flex;
    list-style: none;
}

.flexitem2 li {
    padding: 20px;
}

.flexitem2 li a:hover, .flexitem9 li a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    font-weight: 500;
}

.flexitem3 {
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    padding-right: 10px;
}

button {
    padding: 10px;
    border: 0px;
    border-radius: 30px;
    font-weight: 400;
}

main > div:nth-child(1) {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.flexitem4 {
    width: 40%;
    height: 60%;
    text-align: center;
}

.flexitem4 > h1 {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 50px;
}

.flexitem4 > p {
    font-weight: 500;
    font-size: 20px;
}

.flexitem4 > p > span {
    padding: 6px 0;
    display: inline-block;
}

.button4 {
    margin: 25px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    padding: 15px 30px;
    border-radius: 30px;
    line-height: 1em;
}

#blackb {
    background-color: black;
}

.flexitem3 button:hover a, .flexitem4 .bwhite:hover a {
    color: #5865f2;
}

.flexitem3 button:hover {
    background-color: white;
}

.flexitem3 button {
    line-height: 19px;
}

main > div:nth-child(2), main > div:nth-child(4) {
    background-color: #ffffff;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.flexitem5 {
    width: 64%;
    height: 80%;
    justify-content: center;
}

h2 {
    font-size: 50px;
}

.flexitem5 > div:nth-child(1) {
    width: 60%;
}

.flexitem5 > div:nth-child(2) {
    width: 40%;
    padding: 30px 60px;   
}

.flexitem5 > div > p {
    font-size: 21px;
    margin-top: 20px;
}

main > div:nth-child(3) {
    background-color: #f6f6f6;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.flexitem6 {
    width: 64%;
    height: 80%;
    justify-content: center;
    flex-direction: row-reverse;
}

.flexitem6 > div:nth-child(1) {
    width: 60%;
}

.flexitem6 > div:nth-child(2) {
    width: 40%;
    padding: 30px 60px;   
}

.flexitem6 > div > p {
    font-size: 20px;
    margin-top: 20px;
}

.flexitem7 {
    width: 64%;
    height: 80%;
    justify-content: center;
}

.flexitem7 > div:nth-child(1) {
    width: 60%;
}

.flexitem7 > div:nth-child(2) {
    width: 40%;
    padding: 30px 60px;  
}

.flexitem7 > div > p {
    font-size: 21px;
    margin-top: 20px;
}

main > div:nth-child(5) {
    background-color: #f6f6f6;
    height: 1400px;
    justify-content: center;
    align-items: center;
}

.flexitem8 {
    width: 55%;
    height: 50%;
    background-size: contain;
    text-align: center;
    margin-bottom: 50px;
}

.flexitem8 > p {
    font-size: 21px;
    margin-top: 20px;
}

.flexitem8 > img:first-of-type {
    width: 100%;
    margin: 15px 0;
}

.fontmedium {
    font-size: 30px;
    font-weight: 800;
}

#purpleb {
    background-color: #5865f2;
}

main > div:nth-child(6) {
    background-color: #23272a;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.flexitem9 {
    width: 65%;
    height: 75%;
    justify-content: center;
}

.flexitem9 > div:nth-child(1) {
    width: calc(100% / 3);
    padding: 0 60px;
}


.flexitem9 > div:nth-child(2), .flexitem9 > div:nth-child(3), .flexitem9 > div:nth-child(4), .flexitem9 > div:nth-child(5) {
    width: calc(100% / 6);    
}


.flexitem9 > div > ul {
    list-style: none;
}

.flexitem9 li {
    padding-top: 10px;
    padding-left: 15px;
    font-weight: 500;
}

hr {
    border: 1px solid #5865f2;
}

footer {
    height: 100px;
    background-color: #23272a;
    align-items: flex-end;
    justify-content: center;
}

footer > div:nth-child(1) {
    height: 75px;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

.purple {
    color: #5865f2;
}

select {
    background-color: #23272a;
    border: 0;
    margin-top: 25px;
}

#symbols {
    margin-top: 30px;
}

i {
    margin-right: 15px;
    font-size: 22px;
}

#ita {
    height: 15px;
    vertical-align: middle;
}

.flexitem8 button:hover, .debug .flexitem11 button:hover {
    background-color: #5865f2;
    opacity: 0.8;
}
















































































